body {
    background:#F5F5F5;
}
a {outline:0 !important;}

form p label {margin-right:10px;}
.errorlist {color:red;}

#messageWrap {
    position:fixed;
    top:60px;
    width:100%;
    z-index:10000;
}
#messageWrap .alert {
    width:300px;
    margin:5px auto;
    box-shadow:0 0 5px 1px rgba(0, 0, 0, 0.4);
    padding:2px 5px;
    font-weight:bold;
}


.list-group-item-text {color:#777;}

.row.well h3 {margin:0;}

.white.well.nomargin {margin:0;}
.white.well {
    background:#FEFEFE;
    box-shadow:0 8px 8px -6px rgba(0, 0, 0, 0.4);
    border-bottom:1px solid #CCC;
    padding:10px;
}

.white.well h5 {margin:0;}
.white.well h5.pull-left {margin-top:8px;margin-left:8px;}

.well.bordered {border:1px solid #FFF;}

a.hover-no-underline:hover {text-decoration:none;}

.square {border-radius:1px !important;}

.highlighted {
    background: #45629d !important;
}
.trns {
    transition: all ease .5s;
    -moz-transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
}
.navbar {
    margin-bottom:0;
    min-height:40px;
}
.navbar-brand {
    padding:0;
}
.navbar-brand span {
    font-size:18px;
    font-weight:500;
    padding-top:20px;
}
.navbar-brand img {
}
@media (min-width: 768px) {
    body {margin-top:70px;}
    .navbar {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        z-index:10;
    }
    .mobile-only {display:none;}
}
.navbar-collaps {margin-right:0;padding-right:0;}

.navbar .glyphicon, .breadcrumbs .glyphicon {font-size:22px;}
.navbar .navbar-right li a {
    box-shadow:0 0 0 transparent;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    font-weight:bold;
    text-decoration:normal;
    text-align:left;
}
.navbar .navbar-right li a:hover {
    background:#385080;
}

.breadcrumbs .btn {
    box-shadow:0 0 0 transparent;
    height:50px;
    line-height:50px;
}
.breadcrumbs .well {
    padding:0;

}
.breadcrumbs .btn-group {
}
