#account-menu .huge.btn {
    display:block;
    height:150px;
    line-height:140px;
    font-size:22px;
    text-align:left;
    padding-left:15%;
}
#account-menu > .row {
    margin-bottom:30px;
}
@media (max-width: 480px) {
    #account-menu .huge.btn {
        font-size:13px !important;
    }
}
@media (max-width: 768px) {
    #account-menu .huge.btn {
        height:100px;
        line-height:90px;
        font-size:16px;
    }
}

#locationConfigWrap .panel {
    margin-bottom:0;
}
#locationConfigWrap .form-control {
    padding:10px 0;
}
#locationConfigWrap #locationWrap h3{
    font-size:22px;
}

#locationConfigWrap .sector {
    background:#E0E0E0;
    margin:25px auto;
    padding:5px;
}
#locationConfigWrap .sector:hover {
    box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.4);
}
#locationConfigWrap .tableWrap {
    padding:10px;
}
#locationConfigWrap .tableWrap .table {
    width:24%;
    float:left;
    margin:0.5%;
}
#locationConfigWrap .tableWrap .table input {
    width:90%;
}

#locationLayoutWrap #sectorsWrap {margin-bottom:50px;}
#locationLayoutWrap #sectorsWrap .glyphicon {font-size:20px;}

#locationLayoutWrap #sectorsWrap > a {
    display:block;
    float:left;
    width:49%;
    margin:0.5%;
}
@media (max-width: 768px) {
    #locationLayoutWrap #sectorsWrap > a {
        display:block;
        float:none;
        width:100%;
        margin:10px 0;
    }
}
#locationLayoutWrap #sectorsWrap h5 {
    text-transform: none;
}

#locationLayoutWrap .sector {
    padding:5px;
}
#locationLayoutWrap .sector .tables {
    padding:5px;
}
#locationLayoutWrap .sector .tables .tbl {
    width:60px;
    width:24%;
    height:50px;
    line-height:50px;
    margin:15px 0.5%;
    float:left;
    font-size:13px;
    font-weight:500;
    text-transform: none;
    position:relative;
    border-radius:10px;
}
#locationLayoutWrap .sector .tables .tbl .number {
    font-size:50px;
}
#locationLayoutWrap .sector .tables .tbl .chair-count {
    border-radius:0 10px 0 10px;
    padding:5px;
}
@media (max-width: 380px) {
    #locationLayoutWrap .sector .tables .tbl {
        font-size:11px !important;
    }
}

#tablesWrap, .tablesWrap {
    position:relative;
    background:#EDEDED;
    margin-bottom:50px;
    background-color: rgb(237, 237, 237);
    background-image: url("/static/css/images/texture.png");
}
.sectorListWrap.tbl-dragging .tablesWrap {
    background:#CCC;
}
.sectorListWrap .slideOpts {
    display:none;
}
.sectorListWrap.tbl-dragging .slideOpts {
    display:block;
}
.tablesWrap .slideOpts div {
    font-size:22px;
    position:absolute;
    z-index:1;
    color:#333;
    text-align:center;
    background:#CCC;
}
.tablesWrap .slideOpts div.drop-acceptable {
    background:#AAA !important;
}
.tablesWrap .slideOpts div.up, .tablesWrap .slideOpts div.down {
    left:0;
    height:30px;
    line-height:35px;
    width:100%;
}
.tablesWrap .slideOpts div.up {
    top:-30px;
    background-image: -o-linear-gradient(bottom, #CCC 0%, #F5F5F5 100%);
    background-image: -moz-linear-gradient(bottom, #CCC 0%, #F5F5F5 100%);
    background-image: -webkit-linear-gradient(bottom, #CCC 0%, #F5F5F5 100%);
    background-image: -ms-linear-gradient(bottom, #CCC 0%, #F5F5F5 100%);
    background-image: linear-gradient(bottom, #CCC 0%, #F5F5F5 100%);
}
.tablesWrap .slideOpts div.down {
    bottom:-30px;
    background-image: -o-linear-gradient(top, #CCC 0%, #F5F5F5 100%);
    background-image: -moz-linear-gradient(top, #CCC 0%, #F5F5F5 100%);
    background-image: -webkit-linear-gradient(top, #CCC 0%, #F5F5F5 100%);
    background-image: -ms-linear-gradient(top, #CCC 0%, #F5F5F5 100%);
    background-image: linear-gradient(top, #CCC 0%, #F5F5F5 100%);
}
.tablesWrap .slideOpts div.left, .tablesWrap .slideOpts div.right {
    top:0;
    width:30px;
    height:100%;
    line-height:100%; /* this wont work the icons are valigned in js */
}
.tablesWrap .slideOpts div.left {
    left:-30px;
    background-image: -o-linear-gradient(right, #CCC 0%, #F5F5F5 100%);
    background-image: -moz-linear-gradient(right, #CCC 0%, #F5F5F5 100%);
    background-image: -webkit-linear-gradient(right, #CCC 0%, #F5F5F5 100%);
    background-image: -ms-linear-gradient(right, #CCC 0%, #F5F5F5 100%);
    background-image: linear-gradient(right, #CCC 0%, #F5F5F5 100%);
}
.tablesWrap .slideOpts div.right {
    right:-30px;
    background-image: -o-linear-gradient(left, #CCC 0%, #F5F5F5 100%);
    background-image: -moz-linear-gradient(left, #CCC 0%, #F5F5F5 100%);
    background-image: -webkit-linear-gradient(left, #CCC 0%, #F5F5F5 100%);
    background-image: -ms-linear-gradient(left, #CCC 0%, #F5F5F5 100%);
    background-image: linear-gradient(left, #CCC 0%, #F5F5F5 100%);
}
.tbl {
    position:absolute;
    background:#ededed;
    box-shadow:0 0 3px 1px #999 inset;
    border:1px solid #999;
}
.tbl.green {
    background:#00a300;
    color:#EDEDED;
    box-shadow:0 0 3px 1px rgba(0, 0, 0, 0);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #00A300),
        color-stop(1, #054205)
    );
    background-image: -o-linear-gradient(bottom, #00A300 0%, #054205 100%);
    background-image: -moz-linear-gradient(bottom, #00A300 0%, #054205 100%);
    background-image: -webkit-linear-gradient(bottom, #00A300 0%, #054205 100%);
    background-image: -ms-linear-gradient(bottom, #00A300 0%, #054205 100%);
    background-image: linear-gradient(to bottom, #00A300 0%, #054205 100%);
}
.tbl.red {
    background:#e40000;
    color:#FFF;
    box-shadow:0 0 3px 1px rgba(0, 0, 0, 0);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #540000),
        color-stop(1, #e40000)
    );
    background-image: -o-linear-gradient(bottom, #540000 0%, #e40000 100%);
    background-image: -moz-linear-gradient(bottom, #540000 0%, #e40000 100%);
    background-image: -webkit-linear-gradient(bottom, #540000 0%, #e40000 100%);
    background-image: -ms-linear-gradient(bottom, #540000 0%, #e40000 100%);
    background-image: linear-gradient(to bottom, #540000 0%, #e40000 100%);
}
.tbl.orange {
    background:#ff9800;
    color:#FFF;
    box-shadow:0 0 3px 1px rgba(0, 0, 0, 0);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #945900),
        color-stop(1, #FF9900)
    );
    background-image: -o-linear-gradient(bottom, #945900 0%, #FF9900 100%);
    background-image: -moz-linear-gradient(bottom, #945900 0%, #FF9900 100%);
    background-image: -webkit-linear-gradient(bottom, #945900 0%, #FF9900 100%);
    background-image: -ms-linear-gradient(bottom, #945900 0%, #FF9900 100%);
    background-image: linear-gradient(to bottom, #945900 0%, #FF9900 100%);
}
.tbl.drop-acceptable {
    background:#ff9800;
    color:#FFF;
    box-shadow:0 0 3px 1px rgba(0, 0, 0, 0);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #044504),
        color-stop(1, #012201)
    );
    background-image: -o-linear-gradient(bottom, #044504 0%, #012201 100%);
    background-image: -moz-linear-gradient(bottom, #044504 0%, #012201 100%);
    background-image: -webkit-linear-gradient(bottom, #044504 0%, #012201 100%);
    background-image: -ms-linear-gradient(bottom, #044504 0%, #012201 100%);
    background-image: linear-gradient(to bottom, #044504 0%, #012201 100%);
}

#sectorLayoutWrap h4 {margin:0;}

#sectorLayoutWrap #tablesWrap .tbl .control {
    position:absolute;
}

#sectorLayoutWrap #tablesWrap .tbl .chair-opts {
    left:-15px;
}
#sectorLayoutWrap #tablesWrap .tbl .chair-opts.plus, #sectorLayoutWrap #tablesWrap .tbl .delete-table {
    top:-15px;
}
#sectorLayoutWrap #tablesWrap .tbl .chair-opts.minus , #sectorLayoutWrap #tablesWrap .tbl .rotate-table{
    bottom:-15px;
}
#sectorLayoutWrap #tablesWrap .tbl .rotate-table, #sectorLayoutWrap #tablesWrap .tbl .delete-table {
    right:-15px;
}
#sectorLayoutWrap #tablesWrap .tbl .rotate-table {
    font-weight:bold;
}
#sectorLayoutWrap #tablesWrap .tbl .delete-table {
    color:#555;
}
#sectorLayoutWrap .tbl {
    background:#CCC;
    color:#333;
    box-shadow:0 0 3px 1px #999 inset;
}

.tbl .chair-count {
    position:absolute;
    right:0;
    top:0;
    font-size:16px;
    padding:2px;
    border-radius:1px;
}
@media (max-width: 480px) {
    .tbl .chair-count {
        font-size:11px;
    }
}
.tbl.chairs-1 {width:10%;height:11%;}
.tbl.chairs-2 {width:11%;height:11%;}
.tbl.chairs-3 {width:13%;height:11%;}

.tbl.chairs-4 {width:14%;height:12%;}
.tbl.chairs-5 {width:15%;height:12%;}
.tbl.chairs-6 {width:16%;height:12%;}

.tbl.chairs-7 {width:17%;height:13%;}
.tbl.chairs-8 {width:17%;height:13%;}
.tbl.chairs-9 {width:18%;height:13%;}
.tbl.chairs-10 {width:19%;height:13%;}

.tbl .number {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    text-align:center;
    font-weight:bold;
    font-size:3rem;
    line-height:100%;
    margin:0;
}
.tbl .chair {
    position:absolute;
    width:15%;
    height:15%;
    top:0;
    background:#333;
    box-shadow:0 0 3px 1px rgba(0, 0, 0, 0);
}
.tbl .chair.top-side, .tbl .chair.bottom-side {
    background-image: -o-linear-gradient(right, #333 0%, #7e7e7e 100%);
    background-image: -moz-linear-gradient(right, #333 0%, #7e7e7e 100%);
    background-image: -webkit-linear-gradient(right, #333 0%, #7e7e7e 100%);
    background-image: -ms-linear-gradient(right, #333 0%, #7e7e7e 100%);
    background-image: linear-gradient(right, #333 0%, #7e7e7e 100%);
}
.tbl .chair.left-side, .tbl .chair.right-side {
    background-image: -o-linear-gradient(bottom, #333 0%, #7e7e7e 100%);
    background-image: -moz-linear-gradient(bottom, #333 0%, #7e7e7e 100%);
    background-image: -webkit-linear-gradient(bottom, #333 0%, #7e7e7e 100%);
    background-image: -ms-linear-gradient(bottom, #333 0%, #7e7e7e 100%);
    background-image: linear-gradient(bottom, #333 0%, #7e7e7e 100%);
}
.tbl .chair.top-side {
    top:-15%;
    border-radius:100% 100% 0 0;
}
.tbl .chair.bottom-side {
    top:100%;
    border-radius:0 0 100% 100%;
}
.tbl .chair.left-side {
    left:-15%;
    border-radius:100% 0 0 100%;
}
.tbl .chair.right-side {
    right:-15%;
    border-radius:0 100% 100% 0;
}
.locationDetail .tbl, .sectorWrap #tablesWrap .tbl .number, h4 span, h5 span.label, .tbl .chair-count {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
h4 span.label-default, h5 span.label-default {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.sectorWrap #tablesWrap .tbl:hover {cursor:pointer;}

#sectorLayoutWrap #tablesWrap .tbl .chairs a {color:#FFF;}

.tbl-opts-wrap {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.8);
    color:#333;
    z-index:10000;
}
.tbl-opts-wrap .tbl-opts {
    margin-top:40px;
}
.sectorWrap .tbl-opts:hover {cursor:auto;}

.sectorWrap .tbl .info-overlay {
    position:absolute;
    bottom:0;
    left:0;
    height:100%;
    line-height:100%;
    width:100%;
    overflow:hidden;
    font-size:13px;
    margin:0;
    padding:5px 10px;
    background:rgba(0, 0, 0, 0.2);
}

#bookingFilterWrap .slot {
    width:50px;
    height:50px;
}
#bookingFilterWrap .slot.selected {
    border:7px solid #ff9800;
}
#bookingFilterWrap .tbl p {
    display:block;
    margin:0;
    border-radius:0;
    font-size:14px;
    text-align:center;
    font-weight:bold;
}

#bookingListWrap .oneBookingWrap > a {
    margin-bottom:5px;
}
