{% load tk_utils %}

{% if tables %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                {% for interval in intervals %}
                    <th>
                        {{ interval.0|date:"H:i" }}-{{ interval.1|date:"H:i" }} 
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
                <tr>
                    <td>
                        <div class="tbl">
                            <p class="">Sector {{ table.sector.number }}</p>
                            <p class="label label-info">Masa {{ table.number }}</p>
                            <p class="label label-primary">{{ table.chair_count }} locuri</p>
                        </div>
                    </td>
                    {% for interval in intervals %}
                        <td>
                            {% with bookings=interval_bookings|get_key:interval|get_key:table %}
                                {% if bookings.count %}
                                    <div class="btn btn-warning slot">
                                    </div>
                                {% else %}
                                    {# help use to select the best slot #}
                                    <a class="take-slot {% if table.chair_count == chair_count and interval.0 == timestamp %}best-slot{% endif %}"
                                        href="#" data-table-id="{{ table.id }}" data-timestamp="{{ interval.0|date:'H:i d-M-Y' }}">
                                        <div class="btn btn-success slot">
                                        </div>
                                    </a>
                                {% endif %}
                            {% endwith %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h6 class="white well nomargin errorlist">Nu exista nicio masa cu {{ chair_count }} locuri. Te rugam sa selectezi mai putine persoane.</h6>
{% endif %}
