<a class="btn btn-default hover-no-underline" href="{% url 'sector_layout' sector.id %}">
    <div class="sector">
        <div class="row">
            <div class="col-xs-10 text-left">
                <h5>
                    <span class="pull-left">Sector {{ sector.number }}</span>
                </h5>
            </div>
            <div class="col-xs-2 text-right">
                {% if sector.is_arranged %}
                    <span class="labellabel-success ttip" data-toggle="tooltip" title="Mesele sunt aranjate">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </span>
                {% else %}
                    <span class="labellabel-danger ttip" data-toggle="tooltip" title="Mesele nu sunt aranjate">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="tables clearfix">
            {% for table in sector.table_set.all %}
                {% include "locations/include/one_sector_tbl.html" with config_mode=True %}
            {% endfor %}
        </div>
    </div>
</a>
