<div class="oneBookingWrap">
    <a href="{{ booking.table.get_absolute_url }}" class="list-group-item">
        <div class="one-booking">
            <h4 class="list-group-item-heading">{{ booking.name }}</h4>
            <h5>
                <span class="square label label-primary">{{ booking.timestamp }}</span>
            </h5>
            <h5>
                <span class="square label label-info">{{ booking.person_count }} persoane</span>
            </h5>
            <h5>
                <span class="square label label-default">Masa: Sector {{ booking.table.sector.number }} masa {{ booking.table.number }}</span>
            </h5>
            <h5>
                <span class="square label label-default">Telefon: {{ booking.phone|default:"&mdash;" }}</span>
            </h5>
            <h5>
                <span class="square label label-default">Email: {{ booking.email|default:"&mdash;" }}</span>
            </h5>
        </div>
    </a>
</div>
