<a class="btn btn-default hover-no-underline" href="{% url 'sector_list' sector.location.id %}#sector-{{ sector.number }}">
    <div class="sector" data-id="{{ sector.id }}">
        <h5 class="text-left clearfix">
            <span class="pull-left">Sector {{ sector.number }}</span>
            <span class="square label label-primary info pull-right">
                {% if sector.free_tables == 1 %}
                    <span class="sector-free-tables">{{ sector.free_tables }}</span> masa libera
                {% else %}
                    <span class="sector-free-tables">{{ sector.free_tables }}</span> mese libere
                {% endif %}
            </span>
        </h5>
        <div class="tables clearfix">
            {% for table in sector.table_set.all %}
                {% include "locations/include/one_sector_tbl.html" %}
            {% endfor %}
        </div>
    </div>
</a>
