<div id="tbl-{{ table.id }}"
     data-id="{{ table.id }}"
     data-chairs="{{ table.chair_count }}"
     data-number="{{ table.number }}"
    class="tbl chairs-{{ table.chair_count }} {% if table.is_reserved %}red{% else %}{% if table.upcoming_bookings.count %}orange{% else %}green{% endif %}{% endif %}" style="{{ table.layout }}">

    <span class="chair-count label label-primary ttip-disabled" data-toggle="tooltip" title="Numar scaune">
        {{ table.chair_count }}
    </span>

    <p class="number ttip-disabled" data-toggle="tooltip" title="Numar masa">
        {{ table.number }}
    </p>

    {% if config_mode %}
        <a href="{% url 'table_chair_plus' table.id %}" class="control chair-opts plus ttip-disabled" data-toggle="tooltip" title="Adauga scaun">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <a href="{% url 'table_chair_minus' table.id %}" class="control chair-opts minus ttip-disabled" data-toggle="tooltip" title="Elimina scaun">
            <span class="glyphicon glyphicon-minus"></span>
        </a>
        <a href="#" class="control rotate-table ttip-disabled" data-toggle="tooltip" title="Roteste masa">
            <span class="glyphicon glyphicon-retweet"></span>
        </a>
        <a href="{% url 'table_delete' table.id %}" class="control delete-table ttip-disabled" data-toggle="tooltip" title="Elimina masa">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    {% else %}
        <div class="chairsWrap">
            {# in sync with css and js - top|bottom|right|left - side classes added in js #}
            {% for _ in table.chair_range %}
                <div class="{% cycle 'odd' 'even' %} chair"></div>
            {% endfor %}
        </div>

        {% if table.is_reserved %}
            <p class="info-overlay">
                {{ table.reservation.client.name }}
            </p>
        {% else %}
            {% if table.upcoming_bookings %}
                <p class="info-overlay">
                    Rezervata de la ora {{ table.upcoming_bookings.0.timestamp|date:"H:i j M" }}
                </p>
            {% endif %}
        {% endif %}
    {% endif %}
</div>
{% if not config_mode %}
    <div class="tbl-opts-wrap" style="display:none;">
        <div id="tbl-opts-{{ table.id }}" class="tbl-opts">
            <div class="container">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Masa {{ table.number }}</h3>
                    </div>
                    <div class="panel-body">
                        {% if table.is_reserved %}
                            <div class="row-fluid clearfix">
                                <div class="col-md-push-2 col-md-8">
                                    <div class="well">
                                        <h5 class="text-center"><strong>{{ table.sector.location.name }}</strong></h5>
                                        <hr>
                                        <h5>Masa {{ table.number }}, sector {{ table.sector.number }}<h5>
                                        <h5>
                                            Client <strong>{{ table.reservation.client.name }}</strong>
                                            de la ora <strong>{{ table.reservation.created|date:"H:m" }}</strong>
                                        </h5>
                                        <h5>Servit de <strong>{{ table.reservation.created_by.user.get_full_name|title }}</strong></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="col-md-6 text-center">
                                    <a href="{% url 'table_free' table.id %}" class="free-table btn btn-primary" data-tbl="#tbl-{{ table.id }}">Elibereaza</a>
                                </div>
                                <div class="col-md-6 text-center">
                                    <a class="exit btn btn-danger" data-close="#tableOptsWrap">Inchide</a>  {# closes the dyn computed wrap holder #}
                                </div>
                            </div>
                            {# below div is a helper used when switching client to a different table #}
                            {# clicks on a.free-table above then submits the form of the target table with the below info #}
                            <div class="table-switch-helper"
                                 style="display:none;"
                                 data-name="{{ table.reservation.client.name }}"
                                 data-phone="{{ table.reservation.client.phone }}"
                                 data-email="{{ table.reservation.client.email }}"></div>
                        {% else %}
                            <div class="col-md-push-2 col-md-8">
                                <div class="well">
                                    <h5 class="text-center"><strong>{{ table.sector.location.name }}</strong></h5>
                                    <hr>
                                    <h5 class="">Ocupa masa <strong>{{ table.number }}</strong></h5>
                                </div>
                                <div class="well">
                                    <form class="reserve-table" action="{% url 'table_reserve' table.id %}" method="POST" data-tbl="#tbl-{{ table.id }}">
                                        {# csrf_token exempted #}
                                        <div class="form-group">
                                            <input class="form-control name" type="text" name="name" placeholder="Nume client" required autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control phone" type="text" name="phone" placeholder="Telefon">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control email" type="text" name="email" placeholder="Email">
                                        </div>
                                        <div class="row-fluid">
                                            <div class="col-xs-6 text-center">
                                                <button type="submit" class="btn btn-success">Ocupa</button>
                                            </div>
                                            <div class="col-xs-6 text-center">
                                                <a class="exit btn btn-danger" data-close="#tableOptsWrap">Inchide</a>  {# closes the dyn computed wrap holder #}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
