                <div data-id="{{ table.id }}" class="tbl {% if not config_mode %}{% if table.is_reserved %}red{% else %}{% if table.upcoming_bookings.count %}orange{% else %}green{% endif %}{% endif %}{% endif %}">
                    <span class="number">{{ table.number }}</span>
                    <br>
                    <span class="label label-primary chair-count">{{ table.chair_count }}</span>
                </div>
