    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Sector <span class="counter">{{ sector.number }}</span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="form-control">
                <input class="table_count" type="number" min="1" max="50" name="table_count" placeholder="Numar mese" value="{{ sector.table_set.count }}" />
                <input class="sector_number" type="hidden" name="sector_number" value="{{ sector.number }}"/>
                <span class="">&nbsp;</span>
                <a class="btn btn-primary build-tables" data-sector-number="{{ sector.number }}" href="#">OK</a>
            </div>
        </div>
    </div>
