    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Masa <span class="counter">{{ table.number }}</span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="form-control">
                <input class="chair_count" type="number" min="1" max="50" name="chair_count" value="{{ table.chair_count|default:2 }}" placeholder="Numar scaune" />
            </div>
            <input class="sector_number" type="hidden" name="sector_number" value="{{ sector.number }}"/>
            <input class="table_number" type="hidden" name="table_number" value="{{ table.number }}"/>
        </div>
    </div>
