{% extends "base/base.html" %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        Booking = {
            init: function(){
                Utils.handle_ajax_modals();
            },
        }
        $(function(){
            Booking.init();
        });
    </script>
{% endblock %}

{% block content %}
    <hr>
    <div class="clearfix">
        <h5 class="pull-left">Rezervari</h5>
        <a href="{% url 'booking_create' request.user.employee.location.id %}"
            data-modal-id="#bookingCreateModal"
            class="pull-right pullmodal btn btn-primary ttip"
            data-toggle="tooltip" title="Adauga o rezervare noua">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <hr>
    <div id="bookingListWrap" class="list-group">
        {% for booking in object_list %}
            {% include "locations/include/one_booking.html" %}
        {% endfor %}
    </div>
{% endblock %}
