{% extends "base/base.html" %}

{% block js %}
    {{ block.super }}

    <script type="text/javascript">
        Booking = {
            init: function(){
                Utils.create_datetime_picker("#id_timestamp");
                Utils.init_tooltips();
                this.handle_booking_slot();
                this.handle_form_submit();
                $("#id_timestamp").focus();
            },
            handle_booking_slot: function(){
                var send_ajax = function(container, timestamp, chair_count){
                    if (timestamp && chair_count){
                        container.html("");
                        $.ajax({
                            url: $("form").data("filter-url"),
                            data: {
                                timestamp: timestamp,
                                chair_count: chair_count
                            },
                            success: function(response){
                                container.html(response);
                                // reset table
                                $("#id_table").val("");
                                container.find(".take-slot.best-slot:first").click();
                            }
                        })
                    }
                }
                $("#id_timestamp").change(function(event){
                    var timestamp = $(this).val();
                    var chair_count = $("#id_person_count").val();
                    var container = $("#bookingFilterWrap");
                    send_ajax(container, timestamp, chair_count);
                });
                $("#id_person_count").change(function(event){
                    var chair_count = $(this).val();
                    var timestamp = $("#id_timestamp").val();
                    var container = $("#bookingFilterWrap");
                    send_ajax(container, timestamp, chair_count);
                });

                $("body").on("click", ".take-slot", function(event){
                    event.preventDefault();
                    var self = $(this);
                    // visual
                    $(".slot").removeClass("selected");
                    self.find(".slot").addClass("selected");

                    // set table
                    $("#id_table").val(self.data("table-id"));

                    // reset timestamp if something else is chosen
                    $("#id_timestamp").val(self.data("timestamp"));
                });
            },
            handle_form_submit: function(){
                $("form").submit(function(event){
                    var self = $(this);
                    if (self.find("#id_table").val() == ""){
                        $("#table-message").text("Mai intai trebuie sa selectezi o masa si un interval orar, dand click pe un patratel verde.")
                        return false;
                    }
                    return true;
                });
            }
        }
        $(function(){
            Booking.init();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row white well">
        <a href="{% url 'booking_list' request.user.employee.location.id %}" class="pull-left btn btn-default ttip" data-toggle="tooltip" title="Inapoi">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
        <h5 class="pull-left">Rezervare</h5>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="white well row">
                <form action="./" method="POST" data-filter-url="{% url 'booking_slot' location_id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div id="table-message" class="errorlist">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success pull-left">Adauga</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <div id="bookingFilterWrap">
            </div>
        </div>
    </div>
{% endblock %}
