{% extends "base/base.html" %}

{% block beadcrumbs %}
    <div class="clearfix white well">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
    </div>
{% endblock %}

{% block content %}
    <h5 class="text-center">
        {{ request.user.employee.name }}
        <span class="square label label-primary">{{ request.user.employee.get_role_display }}</span>
        x mese servite
    </h5>
    <hr>
    <div id="account-menu">
        <div class="row">
            <div class="col-xs-6">
                <a class="huge btn btn-default" href="{{ request.user.employee.location.get_absolute_url }}">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    Locatie
                </a>
            </div>
            <div class="col-xs-6">
                <a class="huge btn btn-default" href="{% url 'booking_list' request.user.employee.location.id %}">
                    <span class="glyphicon glyphicon-list"></span>
                    Rezervari
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                {% if request.user.employee.can_configure_location %}
                    <a class="huge btn btn-default" href="{{ request.user.employee.location.get_config_url }}">
                        <span class="glyphicon glyphicon-cog"></span>
                        Configurare <span class="hidden-xs">locatie</span>
                    </a>
                {% endif %}
            </div>
            <div class="col-xs-6">
                <a class="huge btn btn-default" href="{% url 'tableclient_list' request.user.employee.location.id %}">
                    <span class="glyphicon glyphicon-user"></span>
                    Clienti
                </a>
            </div>
        </div>
    </div>
{% endblock %}
