{% extends "base/base.html" %}

{% block content %}
    <div class="row">
        <h2> Lista locatii </h2>
        <div class="col-md-6">
            {% for location in object_list %}
                <div>
                    <a href="{{ location.get_absolute_url }}">
                        {{ location }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
