{% extends "base/base.html" %}


{% block content %}
    <div class="row">
        <h2> Adauga locatie </h2>
        <div class="col-md-6">
            <form action='./' method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Adauga</button>
            </form>
        </div>
    </div>
{% endblock %}
