{% extends "base/base.html" %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        LocationDetail = {
            init: function(){
                this.call_the_dragons();
            },
            get_sector: function(id){
                return $(".sector[data-id='" + id + "']");
            },
            get_table: function(id){
                return $(".tbl[data-id='" + id + "']");
            },
            refresh_free_tables: function(sector){
                // update sector free tables counter
                swampdragon.callRouter('get_free_tables', 'sector_router', {'pk': sector.data("id")}, function(context, data){
                    sector.find(".sector-free-tables").text(data.free_tables);
                });
            },
            call_the_dragons: function(){
                var that = this;
                
                swampdragon.onChannelMessage(function (channels, message) {
                    var data = message.data;
                    if (message.action == 'created'){
                        var sector = that.get_sector(data.sector);
                        swampdragon.callRouter('get_one_sector_tbl_html', 'table_router', {'pk': data.id}, function(context, data){
                            var created_table = $(data.html);
                            sector.find(".tables").append(created_table);
                        });
                        that.refresh_free_tables(sector);
                    }
                    if (message.action == 'updated'){
                        var table_in_dom = that.get_table(data.id);
                        var sector = table_in_dom.closest(".sector");
                        swampdragon.callRouter('get_one_sector_tbl_html', 'table_router', {'pk': data.id}, function(context, data){
                            var updated_table = $(data.html);
                            table_in_dom.after(updated_table);
                            table_in_dom.remove();
                        });
                        that.refresh_free_tables(sector);
                    }
                    if (message.action == 'deleted'){
                        var tbl = that.get_table(data.id);
                        that.refresh_free_tables(tbl.closest(".sector"));
                        tbl.remove();
                    }
                });
            },
        }
        $(function(){
            LocationDetail.init();
        });
    </script>
{% endblock %}

{% block content %}
    <div id="locationLayoutWrap" class="locationDetail">
        <hr>
        <h5 class="text-center clearfix">
            <span class="pull-left">{{ location }}</span>
            <span class="pull-right label label-primary">{{ location.sector_set.count }} sectoare</span>
        </h5>
        <hr>
        <div id="sectorsWrap" class="clearfix">
            {% for sector in location.sector_set.all %}
                {% include "locations/include/one_sector.html" %}
                {% if forloop.counter|divisibleby:2 %}
                    {# whats included above is set to float left with a 50% width #}
                    <div style="clear:both;"></div>
                {% endif %}
            {% empty %}
                <blockquote>
                    Mai intai trebuie sa iti configurezi locatia. <a href="{{ location.get_config_url }}">Click aici</a>
                </blockquote>
            {% endfor %}
        </div>
    </div>
{% endblock %}
