{% extends "base/base.html" %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        LocationConfig = {
            init: function(){
                this.submit_button = $("button[type='submit']");
                this.build_location();
            },
            build_location: function(){
                var that = this;
                $("#build-sectors").click(function(event){
                    event.preventDefault();
                    var self = $(this);
                    var sector_count_input = $("#id_sector_count");
                    var count = sector_count_input.val();
                    if (count == 0){
                        self.closest(".panel-body").find(".form-control").addClass("has-error");
                    } else {
                        self.closest(".panel-body").find(".form-control").removeClass("has-error");

                        var container = $("#sectorWrap");
                        container.empty();

                        for (i = 1; i <= count; i++) {
                            var clone = $("#sector-clone").clone();
                            clone.find(".panel-title").find(".counter").text(i);
                            clone.find("input.sector_number").val(i);
                            clone.find("a.build-tables").attr("data-sector-number", i);
                            clone.show();
                            clone.removeAttr("id");
                            container.append(clone);
                        }
                    }
                });

                $("body").on("click", ".build-tables", function(event){
                    event.preventDefault();
                    var self = $(this);
                    var table_count_input = self.closest(".panel-body").find(".table_count");
                    var count = table_count_input.val();
                    if (count == 0){
                        self.closest(".panel-body").find(".form-control").addClass("has-error");
                    } else {
                        self.closest(".panel-body").find(".form-control").removeClass("has-error");

                        var sector_number = self.attr("data-sector-number");
                        var container = self.closest(".sector").find(".tableWrap");
                        container.empty();

                        for (i = 1; i <= count; i++) {
                            var clone = $("#table-clone").clone();
                            clone.removeAttr("id");
                            clone.find(".panel-title").find(".counter").text(i);
                            clone.find("input.table_number").val(i);
                            clone.find("input.sector_number").val(sector_number);
                            clone.show();
                            container.append(clone);
                        }

                        // at least one sector with tables is defined show submit button
                        that.submit_button.show();
                        
                        // scroll the page
                        Utils.scroll_animate(self.closest(".sector"), -70, 500);
                    }
                });

                $("#locationConfigForm").submit(function(event){
                    event.preventDefault();
                    var self = $(this);

                    // emulate one submit action allowance
                    if (!self.hasClass("submitting")){
                        self.addClass("submitting");
                        var location_data = []
                        $(".table:visible").each(function(index, item){
                            var table = $(item);
                            location_data.push({
                                sector: table.find("input.sector_number").val(),
                                table: table.find("input.table_number").val(),
                                chair_count: table.find("input.chair_count").val()
                            })
                        });
                        $.ajax({
                            url: self.attr("action"),
                            method: self.attr("method"),
                            data: $.param({
                                csrfmiddlewaretoken: self.find("input[name='csrfmiddlewaretoken']").val(),
                                location_data: JSON.stringify(location_data)
                            }),
                            success: function(response){
                                location.href = response;
                                self.removeClass("submitting");
                            }
                        });
                    }
                });
            },
        }
        $(function(){
            LocationConfig.init();
        });
    </script>
{% endblock %}

{% block content %}
    <div id="locationConfigWrap">
        <hr>
        <div class="clearfix">
            <h5> Configureaza {{ location }} </h5>
            <blockquote>
                1. Adauga numarul de sectoare.
                <br>
                2. Adauga numarul de mese in fiecare sector in parte.
                <br>
                3. Adauga numarul de scaune la fiecare masa in parte.
            </blockquote>
        </div>
        <hr>
        <div id="locationWrap" class="row">
           <div class="panel panel-primary">
               <div class="panel-heading">
                   <h3 class="panel-title">
                       <label for="id_sector_count">
                           {{ location }}
                       </label>
                   </h3>
               </div>
               <div class="panel-body">
                    <div class="form-control">
                        <input id="id_sector_count" type="number" min="0" max="50" name="sector_count" placeholder="Numar sectoare" value="{{ location.sector_set.count|default:"" }}" />
                        <span class="">&nbsp;</span>
                        <a class="btn btn-primary" id="build-sectors" href="#">OK</a>
                    </div>
               </div>
           </div>
        </div>

        <form id="locationConfigForm" action="./" method="POST">
            {% csrf_token %}
            <div id="sectorWrap" class="row">
                {# sector clones get dumped here #}
                {% for sector in location.sector_set.all %}
                    <div class="sector">
                        {% include "locations/include/sector_inner.html" %}
                        <div class="tableWrap row">
                            {% for table in sector.table_set.all %}
                                <div class="table">
                                    {% include "locations/include/table_inner.html" %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="form-control row">
                {# hide the submit button if no sector is created - shown in js above when tables are added for at least one sector #}
                {% if location.sector_set.count %}
                    <button type="submit" class="btn btn-success">Salveaza</button>
                {% else %}
                    <button type="submit" class="btn btn-success" style="display:none;">Salveaza</button>
                {% endif %}
            </div>
        </form>

        <br>
        <br>
        <br>

        {# below two clones are used to initially set up the location #}
        {# when the location is set up - the sectors and tables are displayed above #}
        <div id="sector-clone" class="sector" style="display:none;">
            {% include "locations/include/sector_inner.html" %}
            <div class="tableWrap row">
                {# table clones get dumped here #}
            </div>
        </div>
        <div id="table-clone" class="table" style="display:none;">
            {% include "locations/include/table_inner.html" %}
        </div>
    </div>
{% endblock %}
