{% extends "base/base.html" %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        LocationLayout = {
            init: function(){
                // create sector through ajax pulled forms
                Utils.handle_ajax_modals();
            },
        }
        $(function(){
            LocationLayout.init();
        });
    </script>
{% endblock %}

{% block content %}
    <div id="locationLayoutWrap">
        <hr>
        <div class="clearfix">
            <h5 class="pull-left"> Aranjeaza {{ location }} </h5>
            <a href="{% url 'sector_create' location.id %}"
                data-modal-id="#sectorCreateModal"
                class="pull-right pull-modal btn btn-primary ttip"
                data-toggle="tooltip" title="Adauga un sector">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <div style="clear:both;"></div>
            <blockquote>
                1. Click pe un sector pentru a-l aranja.
                <br>
                2. Adauga un sector <span class="glyphicon glyphicon-plus"></span>
            </blockquote>
        </div>
        <hr>
        <div id="sectorsWrap" class="clearfix">
            {% for sector in location.sector_set.all %}
                {% include "locations/include/one_sector_layout.html" %}
                {% if forloop.counter|divisibleby:2 %}
                    {# whats included above is set to float left with a 50% width #}
                    <div style="clear:both;"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
