{% extends "base/base.html" %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}libs/jquery.simulate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/sector_layout.js"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="sectorLayoutWrap">
        <hr>
        <div class="clearfix">
            <h5 class="pull-left">Aranjeaza sectorul {{ sector.number }}</h5>
            <div class="tn-group" role="group" aria-label="...">
                <a href="#" data-href="{% url 'sector_layout' sector.id %}"
                    class="pull-right sector-layout-save btn btn-success ttip"
                    data-toggle="tooltip" title="Salveaza mesele in ordinea de mai jos pentru sectorul {{ sector.number }}">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
                <span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
                <a href="{% url 'table_create' sector.id %}"
                    data-modal-id="#tableCreateModal"
                    class="pull-right pull-modal btn btn-primary ttip"
                    data-toggle="tooltip" title="Adauga o masa in acest sector">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
                <a href="{% url 'location_layout' sector.location.id %}" class="pull-right btn btn-default ttip" data-toggle="tooltip" title="Inapoi">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
            </div>
            <div style="clear:both;"></div>
            <blockquote>
                <div class="col-md-4">
                    1. Trage de mese pentru a le repozitiona.
                </div>
                <div class="col-md-4">
                    2. Adauga scaune <span class="glyphicon glyphicon-plus"></span>
                    <br>
                    3. Elimina scaune <span class="glyphicon glyphicon-minus"></span>
                </div>
                <div class="col-md-4">
                    4. Adauga masa <span class="glyphicon glyphicon-plus"></span>
                    <br>
                    5. Roteste masa <span class="glyphicon glyphicon-retweet"></span>
                    <br>
                    6. Elimina masa <span class="glyphicon glyphicon-remove"></span>
                    <br>
                    7. Salveaza <span class="glyphicon glyphicon-ok"></span>
                </div>
            </blockquote>
        </div>
        <hr>
        <div id="tablesWrap" class="clearfix">
            {% for table in sector.table_set.all %}
                {% include "locations/include/one_tbl.html" with config_mode=True %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
