<div class="modal fade" id="sectorCreateModal" tabindex="-1" role="dialog" aria-labelledby="sectorCreateModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{{ action }}" method="POST" class="pulled-modal-form" data-container="#sectorsWrap" data-prepend="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="sectorCreateModalLabel">Adauga un sector</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success pull-left">Adauga</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Anuleaza</button>
                </div>
            </form>
        </div>
    </div>
</div>
