{% extends "base/base.html" %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/sector_detail.js"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}

    <div class="sectorListWrap">
        {% for sector in object_list %}
            {% include "locations/include/sector/detail.html" %}
        {% endfor %}
    </div>
{% endblock %}
