{% extends "base/base.html" %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        SectorDetail = {
            init: function(){
            },
        }
        $(function(){
            SectorDetail.init();
        });
    </script>
{% endblock %}

{% block content %}
    <hr>
    <h5 class="text-center clearfix">
        <span class="pull-left">Clienti</span>
        <span class="pull-right label label-primary">d D 05 Luni<span>
    </h5>
    <hr>
    <div class="list-group">
        {% for tableclient in object_list %}
            <a href="{{ tableclient.table.get_absolute_url }}" class="list-group-item">
                <div class="row">
                    <div class="col-md-3">
                        Randeaza .tbl aici
                    </div>
                    <div class="col-md-5">
                        <h4 class="list-group-item-heading">{{ tableclient.client }}</h4>
                        <p class="list-group-item-text">
                            Sector {{ tableclient.table.sector.number }} - Masa {{ tableclient.table.number }}
                        </p>
                    </div>
                    <div class="col-md-4 text-right">
                        <h5>
                            <span class="label label-primary ttip" data-toggle="tooltip" title="Ora ocuparii mesei">{{ tableclient.start|date:"H:m" }}</span>
                        </h5>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
