{% load swampdragon_tags %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Tablekeep{% endblock %}</title>

    <meta charset="utf-8">

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="Author" content="tablekeep.ro">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="description" content="{% block meta_descr %}Keep your table safe.{% endblock %}">

	<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL}}favicon.ico">

    <link rel='stylesheet' type="text/css" href="{{ STATIC_URL }}libs/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css"> {# wont compress #}
    {% compress css %}
        {% block css %}
            <link rel='stylesheet' type="text/css" href="{{ STATIC_URL }}libs/bootstrap/bootstrap-3.3.5-dist/css/bootstrap.css">
            <link rel='stylesheet' type="text/css" href="{{ STATIC_URL }}libs/jqueryui/jquery-ui-1.11.4.custom/jquery-ui.min.css">
            <link rel='stylesheet' type="text/css" href="{{ STATIC_URL }}css/base.css">
            <link rel='stylesheet' type="text/css" href="{{ STATIC_URL }}css/locations.css">
        {% endblock %}
    {% endcompress %}

    {% swampdragon_settings %} {# wont compress #}
    {% compress js %}
        {% block js %}
            <script type="text/javascript" src="{{ STATIC_URL }}libs/jquery/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}libs/jqueryui/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}libs/jquery.ui.touch-punch.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>


            <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/dist/swampdragon.js"></script>

            <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
        {% endblock %}
    {% endcompress %}

</head>
<body>
    {% block header %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                {# Brand and toggle get grouped for better mobile display #}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img class="pull-left" src="{{ STATIC_URL }}css/images/logo.png" alt="Tablekeep logo"/>
                        <span class="pull-left">Tablekeep</span>
                    </a>
                </div>
 
                {# Collect the nav links, forms, and other content for toggling #}
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% comment %}
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    {% endcomment %}
                    <ul class="nav navbar-nav navbar-right">
                        {% comment %}
                        {% if request.user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locatii<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'location_create' %}">Adauga locatie</a></li>
                                    <li><a href="{% url 'location_list' %}">Vezi toate locatiile</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        {% endcomment %}
                        {% if request.user.is_authenticated %}
                            {% comment %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    {{ request.user.employee.name }}<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {# ul.dropdown-menu li below were here #}
                                </ul>
                            </li>
                            {% endcomment %}
                                    {% if request.user.is_superuser %}
                                        <li class="ttip" data-toggle="tooltip" data-placement="bottom" title="Admin Panel">
                                            <a class="btn btn-primary" href="{% url 'admin:index' %}">
                                                <span class="glyphicon glyphicon-asterisk"></span>
                                                <span class="mobile-only">Admin Panel</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li class="ttip" data-toggle="tooltip" data-placement="bottom" title="Locatie">
                                        <a class="btn btn-primary" href="{{ request.user.employee.location.get_absolute_url }}">
                                            <span class="glyphicon glyphicon-home"></span>
                                            <span class="mobile-only">Locatie</span>
                                        </a>
                                    </li>
                                    <li class="ttip" data-toggle="tooltip" data-placement="bottom" title="Clienti">
                                        <a class="btn btn-primary" href="{% url 'tableclient_list' request.user.employee.location.id %}">
                                            <span class="glyphicon glyphicon-user"></span>
                                            <span class="mobile-only">Clienti</span>
                                        </a>
                                    </li>
                                    <li class="ttip" data-toggle="tooltip" data-placement="bottom" title="Rezervari">
                                        <a class="btn btn-primary" href="{% url 'booking_list' request.user.employee.location.id %}">
                                            <span class="glyphicon glyphicon-list"></span>
                                            <span class="mobile-only">Rezervari</span>
                                        </a>
                                    </li>
                                    {% if request.user.employee.can_configure_location %}
                                        <li class="ttip" data-toggle="tooltip" data-placement="bottom" title="Configurare locatie">
                                            <a class="btn btn-primary" href="{{ request.user.employee.location.get_config_url }}">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                                <span class="mobile-only">Configurare locatie</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li class="ttip" data-toggle="tooltip" data-placement="bottom" title="Setari">
                                        <a class="btn btn-primary" href="{% url 'settings' %}">
                                            <span class="glyphicon glyphicon-cog"></span>
                                            <span class="mobile-only">Setari</span>
                                        </a>
                                    </li>
                                    <li class="ttip" data-toggle="tooltip" data-placement="bottom" title="Logout">
                                        <a class="btn btn-primary" href="{% url 'logout' %}">
                                            <span class="glyphicon glyphicon-log-out"></span>
                                            <span class="mobile-only">Logout</span>
                                        </a>
                                    </li>
                        {% else %}
                            <li class="{% if login_flag %}active{% endif %}"><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    <div class="breadcrumbs">
        {% block breadcrumbs %}
        {% endblock %}
    </div>

    {% if messages %}
        <div id="messagesWrap" class="container">
            <div class="row">
                {% for message in messages %}
                    <p class="text-center alert alert-{{ message.tags }}">
                        {{ message }}
                    </p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div id="content" class="{% block content_class %}container{% endblock %}">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}
</body>
</html>
