{% extends "base/base.html" %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            $("#id_username").focus();
        });
    </script>
    
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-push-3 col-md-6 clearfix white well">
            <div class="clearfix well">
                <div class="col-md-4">
                    <div class="">
                        <img src="{{ STATIC_URL }}css/images/logo_150.png" alt="Tablekeep"/>
                    </div>
                </div>
                <div class="col-md-push-1 col-md-7">
                    <h2>Tablekeep</h2>
                    <blockquote>Organizeaza, supravegheaza si iti ofera informatii</blockquote>
                </div>
            </div>
            <div class="">
                <form id="login-form" action="./" method="POST">
                    {% csrf_token %}
                    <div class="text-center">
                        {{ form.as_p }}
                    </div>
                    <div class="form-control text-right">
                        <button type="submit" class="btn btn-success ttip" data-toggle="tooltip" title="Login">
                            <span class="glyphicon glyphicon-log-in"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
