{% extends "base/base.html" %}

{% block breadcrumbs %}
    <div class="clearfix white well">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'employee_index' %}" class="btn btn-default ttip" data-toggle="tooltip" data-placement="bottom" title="Inapoi">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
                <a href="{% url 'settings_password' %}" class="btn btn-default ttip" data-toggle="tooltip" data-placement="bottom" title="Actualizare parola">
                    Parola
                </a>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="row">
        <h5 class="text-center">
            Actualizare setari
        </h5>
        <hr>
        <div class="col-md-push-1 col-md-10 white well">
            <form action="./" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                ### TODO: PICTURE
                <div class="form-control">
                    <button type="submit" class="btn btn-success">OK</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
