<div id="sector-{{ sector.number }}" class="sectorWrap ttip">
    <hr>
    <h5 class="clearfix text-center">
        <span class="pull-left">Sector {{ sector.number }}</span>
        <span class="pull-right square label label-primary">
            <span class="sector-free-tables" data-id="{{ sector.id }}">{{ sector.free_tables }}</span>
            mese libere
        </span>
    </h5>
    <hr>
    <div class="tablesWrap">
        <div class="slideOpts"> {# just a visual hook to indicate the user where he can drag a .tbl to #}
            <div class="up"><span class="glyphicon glyphicon-chevron-up"></span></div>
            <div class="down"><span class="glyphicon glyphicon-chevron-down"></span></div>
            <div class="right"><span class="glyphicon glyphicon-chevron-right"></span></div>
            <div class="left"><span class="glyphicon glyphicon-chevron-left"></span></div>
        </div>
        {% for table in sector.table_set.all %}
            <div class="tblWrap">
                {% include "locations/include/one_tbl.html" %}
            </div>
        {% endfor %}
    </div>
</div>
